body {
  margin-left: auto;
  margin-right: auto;
  width: 640px;
}

#gamecontainer {
  width: 640px;
  height: 480px;

  background: url("images/splashscreen.png");
  border: 1px solid black;
}

.gamelayer {
  width: 640px;
  height: 480px;

  position: absolute;
  display: none;
}


/* starting screen */
#gamestartscreen {
  padding-top: 180px;
  text-align: center;
}

#gamestartscreen img {
  margin: 10px;
  cursor: pointer;
}
